vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|04 Dec 2014 08:27:00 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|AOSite/tutorial.html AOSite/theme/columns.html AOSite/theme/index.html
vti_author:SR|ALEXS\\TzL
vti_modifiedby:SR|ALEXS\\TzL
vti_timecreated:TR|02 Dec 2014 15:45:33 -0000
vti_nexttolasttimemodified:TW|04 Dec 2014 08:26:01 -0000
vti_cacheddtm:TX|04 Dec 2014 08:27:00 -0000
vti_filesize:IR|9599
vti_cachedlinkinfo:VX|S|filters.svg S|../images/miscellaneous_sprite.png S|../images/miscellaneous_sprite.png
vti_cachedsvcrellinks:VX|FSUS|AOSite/stylesheets/filters.svg FSUS|AOSite/images/miscellaneous_sprite.png FSUS|AOSite/images/miscellaneous_sprite.png
