vti_encoding:SR|utf8-nl
vti_author:SR|ALEXS\\TzL
vti_modifiedby:SR|ALEXS\\TzL
vti_timelastmodified:TR|01 Dec 2014 09:32:57 -0000
vti_timecreated:TR|30 Nov 2014 19:23:12 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|SPACE\\ INVADERS/game.html
vti_nexttolasttimemodified:TW|01 Dec 2014 09:09:22 -0000
vti_cacheddtm:TX|01 Dec 2014 09:32:57 -0000
vti_filesize:IR|3917
vti_cachedlinkinfo:VX|S|../Images/background.png S|../Images/logo.png S|../Images/logo.png S|../images/soundOn.png S|../images/soundOff.png S|../Images/logo.png S|../Images/logo.png
vti_cachedsvcrellinks:VX|FSUS|SPACE\\ INVADERS/Images/background.png FSUS|SPACE\\ INVADERS/Images/logo.png FSUS|SPACE\\ INVADERS/Images/logo.png NSUS|SPACE\\ INVADERS/images/soundOn.png NSUS|SPACE\\ INVADERS/images/soundOff.png FSUS|SPACE\\ INVADERS/Images/logo.png FSUS|SPACE\\ INVADERS/Images/logo.png
