.colorme {color:##540000;}
.nav-bar > li:hover, .nav-bar > li a:hover  { color: ##540000;}
.nav-bar > li.active > a { }
ul.flyout li a:hover, .nav-bar li ul li a:hover {color:##540000;}
.flyout {border-top:2px solid #FF0000;}
.sectiontitle {border-left: 4px solid #FF0000;}
::-moz-selection{background:##540000;color:#fff;}
::selection{background:#FF0000;color:#fff;}
.ca-menu li:hover .ca-main {color: ##540000;}
.topborder { border-top:4px solid #FF0000;}
.readmore {background:##540000;}
 #subheader {background: #FF0000;border-top: 1px solid ##540000; color: #eee;}
 #subheader a {color: #eee;}
 #subheader a:hover {color: #fff;}
 .readmore {background:##540000;}
 #testimonials blockquote cite {color:##540000;}
 .tags {background:#333;}
 ul.pagination li.current a {background: ##540000;}
.saymore {color:##540000;}
.submit {background:##540000;} 
dl.tabs dd.active { border-bottom: 3px solid ##540000;}
ul.accordion > li.active {border-top: 3px solid ##540000;}
div.alert-box.default { background-color: ##540000;}
.slide {	margin: 0;	padding: 0;	border-top: solid 4px ##540000;}
.btn-slide {	background:##540000 url(../../images/plus.png) no-repeat;}
.btn-slide.active { background: ##540000 url(../../images/minus.png) no-repeat;}
#footer {border-top:##540000 4px solid;}
.back-top a:hover{background-color: ##540000;}
.sf-shadow ul {border-top:2px solid ##540000;}
.panel {border-left:4px solid ##540000;}
.colorbackground {background:##540000;}
a.projectdetail { background: ##540000;opacity:0.8;}
a.projectdetail:hover { background: ##540000;opacity:1.0;}
#testimonials {border-left: solid 6px ##540000;}
.ei-title h2{background:##540000;}